{% load static %}
<!DOCTYPE html>
<html>

<head>
<style>
.categ:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.categ:hover, a:active {
  background-color: green;
  color: white;
}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-01.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Simple House</h1>
								<h6 class="tm-site-description">new restaurant template</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="about.html" class="tm-nav-link ">About</a></li>
								<li class="tm-nav-li"><a href="contact.html" class="tm-nav-link ">Contact</a></li>
								<li class="tm-nav-li"><a href="{% url 'cartpage' %}" class="tm-nav-link"><img style="height:25px;width:25px;"  id="cart-icon" src="{% static 'images/cart.png' %}"></a></li>
								
								
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
				<p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or non-commercial websites.</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						{% for i in category %}
						<!-- <li class="tm-paging-item"><a href="test.com" class="tm-paging-link active"></a></li> -->
						<a class="categ" href="{{i.get_url}}">{{i.name}}</a></style>
						<!-- style="color:green;font-size:px;" -->
						
						
						{% endfor %}
						
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pizza" class="tm-gallery-page">
					{% for i in pg.object_list %}
    
					
					
					
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						
						<figure>
							<!-- <img src="src=" alt="Image" class="img-fluid tm-gallery-img" /> -->
							<img class="img-fluid tm-gallery-img" style="height:230px;width:230px;" src="{{i.img.url}}" />
								<h4 class="tm-gallery-title">{{i.name}}</h4>
								<p class="tm-gallery-description"></p>
								<p class="tm-gallery-price"></p>
								<a href="{{i.get_url}}">Details</a>
							</figcaption>
						</figure>
					</article>
					{% endfor %}
					
					
					
					
					
				</div> <!-- gallery page 1 -->
				
				
				
				<!-- gallery page 3 -->
				
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					
					<div class="col-md-6">
						<div class="tm-description-box">
							 
							
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			
				{% for p in pg.paginator.page_range %}
					<a href="?page={{p}}" {% if pg.number == p %} activate {% endif %}><button type="button" class="btn btn-warning">{{p}}</button></a>
					
				{% endfor %}
				
			
			<p>Copyright &copy; 2020 Simple House 
            
            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>